.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.1rem;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  width: 37rem;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  color: #00bfff;
}

.title::before {
  width: 1.1rem;
  height: 1.1rem;
}

.title::after {
  width: 1.1rem;
  height: 1.1rem;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 95%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9rem;
  cursor: text;
  transition: 0.3s ease;
  font-weight: bold;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.8rem;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7rem;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 0.9rem;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media (max-width: 426px) {
  .html {
    font-size: 10px;
  }
}
