.html {
  font-size: 15px;
}
#body {
  background: #5e57cb;
  overflow-x: hidden;
}
#body :nth-child(n) {
  transition: 0.2s;
  outline: none;
}
@media (max-width: 425px) {
  .html {
    font-size: 11px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .html {
    font-size: 13px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .html {
    font-size: 15px;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .html {
    font-size: 17px;
  }
}
@media (min-width: 1601px) {
  .html {
    font-size: 20px;
  }
}
