.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background: rgba(0, 0, 0, 0.5);
  height: 35rem;
  width: 42rem;
  border-radius: 0.9rem;
  padding: 1rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 2.1rem;
}
.form :nth-child(n) {
  background: rgba(0, 0, 0, 0.5);
  height: 3rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 0.9rem;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
}
.form :nth-child(n):hover {
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  scale: 1.1;
}
